@model IEnumerable<SuppliesVM>

@{
   ViewData["Title"] = ViewData["Message"];
}

<h1>@ViewData["Message"]</h1>

@if (Model == null) return;

<table class="table">
   <thead>
      <tr>
         <th>
            @Html.DisplayNameFor(model => model.SupplierName)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.PartName)
         </th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model)
      {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.PartName)
            </td>
         </tr>
      }
   </tbody>
</table>
